.buton {
	background-color: rgba(255,255,255,0);
	border: none;
	color: black;
	padding: 7px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0,4s;
	font-style: normal;
}
.button2:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button3 {
	background-color: MediumSeaGreen;
	border: 2px solid #000000;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0,4s;
	font-style: normal;
}

.fundoInicial {
	
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../FarmAux/imagens/fundo.jpg);

}

div#titulo {
	margin-top: -15px;
  	font-size: 50px;
  	position: static;
  	right: 0px;
  	left: 0px;
   	font-weight: bold;
  	font-family: Comic Sans MS;
  	text-shadow: 3px 1px white;
}

div#tituloInicial {
	margin-top: -15px;
  	font-size: 50px;
  	position: static;
  	right: 0px;
  	left: 0px;
   	font-weight: bold;
  	font-family: Comic Sans MS;
	text-shadow: 3px 1px white;
}

div#TituloForm{
	font-weight: bold;
  	font-family: Comic Sans MS;
	text-shadow: 3px 1px white;
	font-size: 30px;
}
.Seletor {
	user-select: none; /* Safari 3.1+ */
  	-moz-user-select: none; /* Firefox 2+ */
  	-ms-user-select: none; /* IE 10+ */
  	user-select: none;
}
b{
	user-select: none; /* Safari 3.1+ */
  	-moz-user-select: none; /* Firefox 2+ */
  	-ms-user-select: none; /* IE 10+ */
  	user-select: none;
}
.FontEn {
	font-weight: bold;
	font-family: Comic Sans MS;
}

.FontFa {
	font-weight: bold;
	font-family: Comic Sans MS;
	font-size: 30px;
}

.Borda {
	border-radius: 30px
}

div#Corp{
	position: fixed;
	right: 0px;
	bottom: 0px;
	left: 0px;
	text-align: center;
	font-size: 23px;
	text-decoration: overline;
	text-shadow: 1.2px 1.2px grey;
}

div#Pbutton{
	margin-top: 30px;
	position: fixed;
	right: 200px;
	left: 200px;
	top: 115px;
	
}

.BarraLogin{
	font-size: 32px;
}


input{
	display: block;
	text-align: center;
	outline: none;
}
button{
	outline: none;
}
select{
	outline: none;
}

.formulario{
	width: 700px;
	height: 480px;
	background-color:#D3D3D3;
	opacity: 0.9;
	top: 50px;
	right: 330px;
	border-style: inset;
	border-radius: 30px;
}

.formularioLogin{
	width: 500px;
	height: 300px;
	background-color:#FEFBFA;
	opacity: 0.8;
	border-style: inset;
	border-radius: 30px;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.formularioCad{
	width: 500px;
	height: 330px;
	background-color:#FEFBFA;
	opacity: 0.8;
	border-style: inset;
	border-radius: 30px;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}



div#opacidade{
	opacity: 0.1
}

div#bntVoltar{

	position: absolute;
	margin-top: -150px;
	margin-left: 10px;
}

div#Anuncio{
	font-family: Comic Sans MS;
	position: fixed;
	width: 250px;
	height: 200px;
	background-color:#000000;
	top: 190px;
	right: 30px;
	border-style: inset;
	border-radius: 30px;
	opacity: 0.74;
	border-color: yellow;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #000000;
	padding: 5px 10px;
}

div#AnuncioDev{
	position: fixed;
	width: 250px;
	height: 250px;
	background-color:#000000;
	top: 195px;
	right: 30px;
	border-style: inset;
	border-radius: 30px;
	opacity: 0.74;
	border-color: yellow;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #000000;
	padding: 3px 10px;
}
div#TextSemOp{
	position: fixed;
	font-family: Georgia;
	width: 250px;
	height: 250px;
	top: 200px;
	right: 43px;
	text-shadow: 0 0 3px black, 0 0 5px #000000;
	text-align: center;
}

div#Icon{
	position: absolute;
	top: 30px;
	left: 30px;
}

.content{display: flex;
	justify-content: center;
}

.contato{
	width: 100%;
	max-width: 500px;
}

.field{
	padding: 10px;
	margin-bottom: 7px;
	border: 2px solid #DDD; 
	border-radius: 15px;
	font-family: Arial, Helvetica, san-serif; 
	font-size: 16px;
}

.form{
	display: flex;
	flex-direction: column; 
	margin: 20px
}

.fieldHora{
	padding: 10px; 
	margin-bottom: 7px; 
	border: 2px solid #DDD; 
	border-radius: 15px;
	font-family: Arial, Helvetica, san-serif; 
	font-size: 20px; 
	margin-left: 20px; 
}

textarea{
	resize: none; 
	overflow: auto;
}


div#centro{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.acc:hover{
	text-decoration: underline;
}

.acc2{
	margin-left: 30px;
	margin-top: 20px;
	font-size: 15px;
	font-family: Arial, Helvetica, san-serif;
}

.aviso{
	position: fixed;
	color: #696969;
	font-size: 30px;
	font-family: Arial, Helvetica, san-serif;
	top: 5%;
	opacity: 1;
	text-align: center;
}

.divTable{
	display: table;
	width: 100%;
	background-color:#D3D3D3;
	border-radius: 10px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #000000;
	display: table-cell;
	padding: 3px 10px;
	border-radius: 3px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.imgConfig{
	background-size: 200px 200px; 
	background-position: center; 
	background-repeat: no-repeat;
	background-image: url(../FarmAux/imagens/alta1.png);
}
